In [53]:
#import Pandas as pd

import pandas as pd

In [4]:
#read our file using pandas and remove unnecessary whitespaces by cleaning our dataset
df = pd.read_csv('balance.txt', delim_whitespace=True)

In [5]:
#Get an overview of the first 5 rows and all our columns
df.head()

,Balance,Income,Limit,Rating,Cards,Age,Education,Gender,Student,Married,Ethnicity
0,12.240798,14.891,3606,283,2,34,11,Male,No,Yes,Caucasian
1,23.283334,106.025,6645,483,3,82,15,Female,Yes,Yes,Asian
2,22.530409,104.593,7075,514,4,71,11,Male,No,No,Asian
3,27.652811,148.924,9504,681,3,36,11,Female,No,No,Asian
4,16.893978,55.882,4897,357,2,68,16,Male,No,Yes,Caucasian

In [33]:
#Get a general information of dataset
df.info

<bound method DataFrame.info of        Balance   Income  Limit  Rating  Cards  Age  Education  Gender Student  \
0    12.240798   14.891   3606     283      2   34         11    Male      No
1    23.283334  106.025   6645     483      3   82         15  Female     Yes
2    22.530409  104.593   7075     514      4   71         11    Male      No
3    27.652811  148.924   9504     681      3   36         11  Female      No
4    16.893978   55.882   4897     357      2   68         16    Male      No
..         ...      ...    ...     ...    ...  ...        ...     ...     ...
395   8.764984   12.096   4100     307      3   32         13    Male      No
396   9.943838   13.364   3838     296      5   65         17    Male      No
397  14.882078   57.872   4171     321      5   67         12  Female      No
398  12.001071   37.728   2525     192      1   44         13    Male      No
399  10.159598   18.701   5524     415      5   64          7  Female      No

    Married         Ethnicity
0       Yes         Caucasian
1       Yes             Asian
2        No             Asian
3        No             Asian
4       Yes         Caucasian
..      ...               ...
395     Yes         Caucasian
396      No  African American
397     Yes         Caucasian
398     Yes         Caucasian
399      No             Asian

[400 rows x 11 columns]>

In [57]:
#Get a general description of our dataset
df.describe()

,Balance,Income,Limit,Rating,Cards,Age,Education
count,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000
mean,13.429175,45.218885,4735.600000,354.940000,2.957500,55.667500,13.450000
std,5.669256,35.244273,2308.198848,154.724143,1.371275,17.249807,3.125207
min,3.749403,10.354000,855.000000,93.000000,1.000000,23.000000,5.000000
25%,9.891439,21.007250,3088.000000,247.250000,2.000000,41.750000,11.000000
50%,11.779615,33.115500,4622.500000,344.000000,3.000000,56.000000,14.000000
75%,15.236961,57.470750,5872.750000,437.250000,4.000000,70.000000,16.000000
max,38.785123,186.634000,13913.000000,982.000000,9.000000,98.000000,20.000000

In [20]:
#Question 1
# Compare the average income based on Ethnicity using groupby approach
df.groupby('Ethnicity')['Income'].mean()

Ethnicity
African American    47.682101
Asian               44.187833
Caucasian           44.521945
Name: Income, dtype: float64

In [50]:
#On average, married people and single people, who has a higher Balance

married = df[df.Married == "Yes"].loc[:,"Balance"].mean()
not_married = df[df.Married == "No"].loc[:,"Balance"].mean()

#From our evaluation, on average, Single people has higher Balance than married people as shown below
print(f"average Balance of Married people in our dataset is {married}\n")
print(f"average Balance of Single people in our dataset is {not_married}\n")
print("\nTherefore, from our evaluation, the average Balance of single people are higher than married people")

average Balance of Married people in our dataset is 13.388473477498913

average Balance of Single people in our dataset is 13.493509015134242


Therefore, from our evaluation, the average Balance of single people are higher than married people

In [56]:
#The highest income in our dataset
print(f"The highest income in our dataset is {df['Income'].max()}")

The highest income in our dataset is 186.634

In [55]:
#The lowest income in our dataset
print(f"The lowest income in our dataset is {df['Income'].min()}")

The lowest income in our dataset is 10.354

In [63]:
# Number of Cards recorded
print(f"The number of Cards recorded are {df['Cards'].sum()}")

The number of Cards recorded are 1183

In [66]:
#Number of females in our dataset
female_count = df['Gender'].value_counts()['Female']
print(female_count)

207

In [67]:
#Number of males in our dataset
male_count = df['Gender'].value_counts()['Male']
print(male_count)

193

In [70]:
#Number of males compared to females 
print(f"There are {male_count} males compared to {female_count} females)")

There are 193 males compared to 207 females)